.contact-block {
    @extend .block-wrapper;
    display: flex;
    gap: 192px;

    @media (max-width: $breakpoint-lg) {
        gap: 72px;
    }
    @media (max-width: $breakpoint-md) {
        flex-direction: column;
        gap: 32px;
    }

    .title {
        color: #fff;
    }

    &-links {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-link {
            @extend .subtitle;
            display: flex;
            align-items: center;
            gap: 8px;
            span {
                color: rgba(255, 255, 255, 0.6);
            }
            a {
                position: relative;
                text-decoration: none;
                color: #fff;

                &::before {
                    content: ' ';
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    height: 1px;
                    background: #fff;
                    width: 0;
                    transition: all 0.3s;
                    border-radius: 8px;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }
    }

    &-socials {
        display: flex;
        gap: 16px;
        svg {
            height: 32px;
            path {
                transition: all 0.3s;
            }

            &:hover path {
                fill: #fff;
            }
        }
    }
}