.support-block {
    @extend .block-wrapper;
    display: flex;
    gap: 24px;
    color: #ffffff;
    justify-content: space-between;
    background-image: url("/assets/support-illustration.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @media (max-width: $breakpoint-md) {
        justify-content: center;
        text-align: center;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 72px;
        .btn {
            width: 352px;
        }

        @media (max-width: $breakpoint-md) {
            .btn {
                width: 100%;
            }
        }
    }

    // .illustration {
    //     height: 424px;
    //     object-fit: cover;
    // }
}