.support-block {
    @extend .block-wrapper;
    display: flex;
    gap: 24px;
    color: #ffffff;
    justify-content: space-between;
    background-image: url("/assets/support-illustration.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @supports (-webkit-touch-callout: none) {
        background: url("/assets/support-illustration.jpg") center top no-repeat scroll;
        background-size: cover;
        background-position: center;
    }  

    @media (max-width: $breakpoint-md) {
        justify-content: center;
        text-align: center;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;

        .btn {
            width: 352px;
        }

        @media (max-width: $breakpoint-md) {
            .btn {
                width: 75%;
            }
        }
    }

    @media (max-width: $breakpoint-sm) {
        &-content>h3 {
            font-size: 4rem;
        }
    }
}